# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
.env
.venv
venv/
ENV/

# Poetry
poetry.lock

# Flutter/Dart
**/build/
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
/build/
*.iml
*.iws
.idea/
.vscode/
.DS_Store

# AWS
.aws-sam/
samconfig.toml
cdk.out/
.cdk.staging/
cdk.context.json

# IDE
.idea/
.vscode/
*.swp
*.swo
*~

# Logs
*.log
logs/ 

# 手元用のメモ
*.txt